.app-import-file {
  .no-data {
    min-height: 400px;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0 auto;
    line-height: 400px;
    width: 100%;
  }

  .filter {
    margin-top: 20px;
    font-size: 14px;
  }

  button.primary {
    background: #b931d9;
    color: #fff;
  }
  p {
    margin: 30px 10px;
    font-size: 24px;
    text-align: center;
  }
  .form-group-cnt {
    display: flex;
    justify-content: flex-end;
    .form-group {
      margin: 10px;
      float: right;
      border: 1px solid #ddd;
      box-shadow: 3px 3px 4px 1px #ddd;
      padding: 10px;
    }
  }

  .table {
    margin: 0px 10px;
    position: relative;
  }
  table {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .app-import-file {
    margin-bottom: 63px;
  }
}
