<div class="cts-assessment-app">
  <app-header *ngIf="hasLoggedIn"></app-header>
  <section class="container">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </section>
  <mat-toolbar class="toolbarNav" *ngIf="hasLoggedIn">
    <button class="toolbar-button" mat-button routerLink="/tech" routerLinkActive="active">
      <mat-icon class="material-icons color_blue">subject</mat-icon>
      <span class="title">Assessment</span>
    </button>
    <button class="toolbar-button" mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon class="material-icons color_blue">person</mat-icon>
      <span class="title">Employee Detail</span>
    </button>
    <button class="toolbar-button" mat-button routerLink="/import" routerLinkActive="active">
      <mat-icon class="material-icons color_blue">insert_drive_file</mat-icon>
      <span class="title">Import</span>
    </button>
  </mat-toolbar>
</div>
